.Rproj.user
.Rhistory
.Ruserdata
.DS_Store
data_exploration.md
*.html
*.RData
*.json
*.xlsx
*.xlsm
*.csv
*.png
*.pdf
*.zip
*qgs
*qgs~
goggle_maps_reg.R
slajdy_fgi_15_lipca_cache/
slajdy_fgi_15_lipca_files/
data_exploration_cache/
data_exploration_files/
photos/
photos-kopia-psj/
figure/
cache/
DANE_angelika_1/
BDOT10k_1061_SHP/

