.Rproj.user
.Rhistory
*.RData
.Ruserdata
.DS_Store
photos/
*.json
*.xlsx
*.xlsm
*.csv
*.png
*.zip
goggle_maps_reg.R
slajdy_fgi_15_lipca_cache/
slajdy_fgi_15_lipca_files/
data_exploration_cache/
data_exploration_files/
data_exploration.md
figure/
cache/
